/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.btn-style {
    color: #fff;
    background: #2E7D32;
    border-radius: 100em;
    outline: none;
    border: none;
    padding: 0 2em 0 2em;
    box-shadow: 0px 2px 1px rgba(0,0,0,0.08);
}

.btn-style:hover {
    background: #43A047;
}

.error-color {
    background: #B71C1C;
    width: 100%;
}

.error-color:hover {
    background: #E53935;
}

.delete-color {
    background: #F44336;
}